.containerCard{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.cardSobre{
    
    color: white;
    margin: 20px;
    height: 1000px;
    width: 1000px;
    background-color: black;
    border-radius: 25px;
    text-align: center;
}

.cardSobre img{
    width: 1000px;
    height: 750px;
    border-radius: 25px 25px 0 0;
    border: solid black 1px;
}

.linkVoltar{
    text-align:start;
    display: inline-block;
    font-size: 30px;
    text-decoration: none;
    padding: 10px;
    background-color: antiquewhite;
    border: 1px solid black;
    border-radius:25px ;
}